In [2]:
import pandas as pd

In [ ]:
# Paso 1: Abrir el archivo y mostrar el dataframe

# Este conjunto de datos proporciona información diversa sobre estos productos.
df_rating = pd.read_csv('datasets/rating-and-performance.csv', index_col=0
                        )
df_rating

In [6]:
df_rating.head()

,title,title_orig,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,rating_five_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
index,,,,,,,,,,,,,,,,,,,,,
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,16.00,14,EUR,100,0,3.76,54,26.0,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,8.00,22,EUR,20000,1,3.45,6135,2269.0,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,8.00,43,EUR,100,0,3.57,14,5.0,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,8.00,8,EUR,5000,1,4.03,579,295.0,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,2.72,3,EUR,100,1,3.10,20,6.0,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08


Cread una nueva columna donde tengamos la diferencia entre el precio al que vende el e-commerce menos el precio del minorista. Insertad esta columna en la posición dos.

In [7]:
# Insertar la columna en la posición dos
df_rating.insert(2, 'diferencia_precios', (df_rating['price'] - df_rating['retail_price']))

In [8]:
df_rating.head()

,title,title_orig,diferencia_precios,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
index,,,,,,,,,,,,,,,,,,,,,
0,2020 Summer Vintage Flamingo Print Pajamas Se...,2020 Summer Vintage Flamingo Print Pajamas Se...,2.00,16.00,14,EUR,100,0,3.76,54,...,568,4.128521,595097d6a26f6e070cb878d1,0,NaN,https://www.wish.com/c/5e9ae51d43d6a96e303acdb0,https://contestimg.wish.com/api/webimage/5e9ae...,5e9ae51d43d6a96e303acdb0,summer,2020-08
1,SSHOUSE Summer Casual Sleeveless Soirée Party ...,Women's Casual Summer Sleeveless Sexy Mini Dress,-14.00,8.00,22,EUR,20000,1,3.45,6135,...,17752,3.899673,56458aa03a698c35c9050988,0,NaN,https://www.wish.com/c/58940d436a0d3d5da4e95a38,https://contestimg.wish.com/api/webimage/58940...,58940d436a0d3d5da4e95a38,summer,2020-08
2,2020 Nouvelle Arrivée Femmes Printemps et Été ...,2020 New Arrival Women Spring and Summer Beach...,-35.00,8.00,43,EUR,100,0,3.57,14,...,295,3.989831,5d464a1ffdf7bc44ee933c65,0,NaN,https://www.wish.com/c/5ea10e2c617580260d55310a,https://contestimg.wish.com/api/webimage/5ea10...,5ea10e2c617580260d55310a,summer,2020-08
3,Hot Summer Cool T-shirt pour les femmes Mode T...,Hot Summer Cool T Shirt for Women Fashion Tops...,0.00,8.00,8,EUR,5000,1,4.03,579,...,23832,4.020435,58cfdefdacb37b556efdff7c,0,NaN,https://www.wish.com/c/5cedf17ad1d44c52c59e4aca,https://contestimg.wish.com/api/webimage/5cedf...,5cedf17ad1d44c52c59e4aca,summer,2020-08
4,Femmes Shorts d'été à lacets taille élastique ...,Women Summer Shorts Lace Up Elastic Waistband ...,-0.28,2.72,3,EUR,100,1,3.10,20,...,14482,4.001588,5ab3b592c3911a095ad5dadb,0,NaN,https://www.wish.com/c/5ebf5819ebac372b070b0e70,https://contestimg.wish.com/api/webimage/5ebf5...,5ebf5819ebac372b070b0e70,summer,2020-08


Usando el loc:

Extraed todas las filas de la columna "price". ¿De qué tipo es el resultado obtenido?

In [ ]:
print(df_rating.loc[:,"price"])

index
0       16.00
1        8.00
2        8.00
3        8.00
4        2.72
        ...
1568     6.00
1569     2.00
1570     5.00
1571    13.00
1572     7.00
Name: price, Length: 1573, dtype: float64
       price  retail_price
index
0      16.00            14
1       8.00            22
2       8.00            43
3       8.00             8
4       2.72             3
...      ...           ...
1568    6.00             9
1569    2.00            56
1570    5.00            19
1571   13.00            11
1572    7.00             6

[1573 rows x 2 columns]


Extraed todas las filas de las columnas "price" y "retail_price". ¿De qué tipo es el resultado obtenido?

In [20]:
price_loc = df_rating.loc[:,["price", "retail_price"]]

In [22]:
price_loc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1573 entries, 0 to 1572
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         1573 non-null   float64
 1   retail_price  1573 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 36.9 KB

Extraed las filas pares, de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count".

In [30]:
filas_pares_loc = df_rating.loc[::2,["rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count"]]
filas_pares_loc.head()

,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count
index,,,,,,,
0,3.76,54,26.0,8.0,10.0,1.0,9.0
2,3.57,14,5.0,4.0,2.0,0.0,3.0
4,3.10,20,6.0,4.0,2.0,2.0,6.0
6,3.84,6742,3172.0,1352.0,971.0,490.0,757.0
8,3.47,15,6.0,2.0,3.0,1.0,3.0

In [32]:
filas_impares_loc = df_rating.loc[1::2,["rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count"]]
filas_impares_loc.head()

,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count,rating_one_count
index,,,,,,,
1,3.45,6135,2269.0,1027.0,1118.0,644.0,1077.0
3,4.03,579,295.0,119.0,87.0,42.0,36.0
5,5.00,1,1.0,0.0,0.0,0.0,0.0
7,3.76,286,120.0,56.0,61.0,18.0,31.0
9,3.60,687,287.0,128.0,92.0,68.0,112.0


Extraed las filas cuyo precio sea mayor que 10 y sus unidades vendidas ("units_sold") sea mayor que 5000.

In [33]:
filtro_df_loc = df_rating.loc[(df_rating['price'] > 10) & (df_rating['units_sold'] > 5000)]
filtro_df_loc.head()

,title,title_orig,diferencia_precios,price,retail_price,currency_buyer,units_sold,uses_ad_boosts,rating,rating_count,...,merchant_rating_count,merchant_rating,merchant_id,merchant_has_profile_picture,merchant_profile_picture,product_url,product_picture,product_id,theme,crawl_month
index,,,,,,,,,,,,,,,,,,,,,
16,Nouvelle mode d'été pour femmes Robe sans manc...,New Summer Women's Fashion Sleeveless Polka Do...,1.0,11.0,10,EUR,10000,0,3.72,2058,...,6302,3.958426,5b8beef49996c87b299cdbec,0,NaN,https://www.wish.com/c/5cd3e795ebe403118bbc0f89,https://contestimg.wish.com/api/webimage/5cd3e...,5cd3e795ebe403118bbc0f89,summer,2020-08
77,Nouveau Mode Femmes Casual Shorts Costume Été ...,New Fashion Women Casual Shorts Suit Summer Ti...,1.0,11.0,10,EUR,10000,0,4.24,1045,...,9200,4.289674,583e7f658108913bced6f8cf,0,NaN,https://www.wish.com/c/5b29e5b5080ea2661b2287f6,https://contestimg.wish.com/api/webimage/5b29e...,5b29e5b5080ea2661b2287f6,summer,2020-08
89,NOUVELLE Robe d'été sans manches imprimée à fl...,NEW Women Summer Floral Printed Sleeveless Dr...,1.0,11.0,10,EUR,20000,1,4.07,3070,...,12974,3.965701,5a7b23a69bda4e3d375e7b3f,0,NaN,https://www.wish.com/c/5cf5e44b3c8b9e101a5db52c,https://contestimg.wish.com/api/webimage/5cf5e...,5cf5e44b3c8b9e101a5db52c,summer,2020-08
109,Casual femmes ras du cou à manches courtes feu...,Casual Women Crew Neck Short Sleeve Leaf Print...,1.0,11.0,10,EUR,10000,0,3.77,1694,...,13946,4.000143,559d33adc605853731afbf10,0,NaN,https://www.wish.com/c/5c78151c27202a28a75752b7,https://contestimg.wish.com/api/webimage/5c781...,5c78151c27202a28a75752b7,summer,2020-08
111,Femmes classiques dos nu en dentelle évider li...,Classic Women Backless Lace Hollow Out Halter ...,2.0,14.0,12,EUR,10000,0,3.93,2946,...,32858,3.885538,57baf75f63834218e305e4f4,0,NaN,https://www.wish.com/c/5acb7ae3a69e662bb0133546,https://contestimg.wish.com/api/webimage/5acb7...,5acb7ae3a69e662bb0133546,summer,2020-08


Usando el iloc (sacaremos los mismos resultados que con el loc):

-Extraed todas las filas de la columna "price".

-Extraed todas las filas de las columnas "price" y "retail_price".

-Extraed las filas pares, de las columnas "rating", "rating_count", "rating_five_count", "rating_four_count", "rating_three_count", "rating_two_count", "rating_one_count".

In [35]:
# Usando iloc (los mismos resultados que con loc):

# Extraer todas las filas de la columna "price"
prices_iloc = df_rating.iloc[:, 2]
prices_iloc

# Extraer todas las filas de las columnas "price" y "retail_price"
prices_retail_iloc = df_rating.iloc[:, [2, 3]]
prices_retail_iloc

# Extraer las filas pares de las columnas especificadas
filas_pares_iloc = df_rating.iloc[::2, 7:14]
filas_pares_iloc.head()

,uses_ad_boosts,rating,rating_count,rating_five_count,rating_four_count,rating_three_count,rating_two_count
index,,,,,,,
0,0,3.76,54,26.0,8.0,10.0,1.0
2,0,3.57,14,5.0,4.0,2.0,0.0
4,1,3.10,20,6.0,4.0,2.0,2.0
6,0,3.84,6742,3172.0,1352.0,971.0,490.0
8,1,3.47,15,6.0,2.0,3.0,1.0

## SERIE

1.Crea una serie con números correlativos entre 1 y 12 inclusive (puedes hacerlo como lista o diccionario):

In [21]:
serie_vacia = pd.Series()
serie_vacia

Series([], dtype: object)


Nuevamente cambia el indice de la serie, esta vez con una lista que haga referencia a los meses del año (tenemos 12 elementos como la cantidad de meses del año).

In [25]:
#PENDIENTE

In [22]:
serie = pd.Series(range(1,13))
print(serie)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int64

Cambia el indice de la serie anteriormente creada para que comience con el numero 20.

In [23]:
# cambiar el índice

serie.index = range(20, 32)
print(serie)

20     1
21     2
22     3
23     4
24     5
25     6
26     7
27     8
28     9
29    10
30    11
31    12
dtype: int64


Muestra los valores que están en la posición 3 y 8 de mi serie.

In [26]:
print(serie[[3, 8]])

KeyError: "None of [Index([3, 8], dtype='int32')] are in the [index]"

In [ ]:
print(serie[[2, 7]])

2    3
7    8
dtype: int64


Muestra los valores que están etiquetados en enero y agosto.

In [ ]:
print(serie.loc[['enero','agosto']])

KeyError: "None of [Index(['enero', 'agosto'], dtype='object')] are in the [index]"